[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eniat = {file = ".", editable = true}

[dev-packages]
ipykernel = "*"
pre-commit = "*"
flake8 = "*"
black = "*"

[requires]
