[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
eniat = {file = ".", editable = true}
numpy = "*"
tqdm = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
alive-progress = "*"

[dev-packages]
ipykernel = "*"

[requires]
